/* @media screen and (max-width: 481px){
.moda-body{
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
} */

@media screen and (max-width: 991px){
  .modal-body{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}