.proyects{
  width: 100%;
  height: 100%;
  padding: 50px;
  background-image: var(--background-image-space);
}
.proyects h3{
  margin: 30px;
  color: #dfdfdf;
  text-shadow: 1px 1px 3px #b6a3a3;
  font-weight: 900;
  font-size: 70px;
  margin-bottom: 50px;
}
.container-proyects{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0px;
}
.btn-modal{
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
}
.btn-modal > button{
  width: 350px;
  background-color: rgb(31, 130, 206);
  color: #fff;
  box-shadow: 0 0 4px rgb(31, 130, 206), 0 0 8px rgb(31, 130, 206), 0 0 15px rgb(31, 130, 206);
}
.btn-modal > button:hover{
  transition: transform 1s ease-in-out, background-color 2s ease;
  transform: translateY(-4px);
  color: #fff;
  backdrop-filter: blur(4px);
  background-color: transparent;
  border: none;
}
@media screen and (max-width: 481px){
  .container-proyects{
    justify-content: center;
  }
  .btn-modal > button{
    width: 150px;
  }
  .btn-modal{
    margin-top: 0px;
  }
  .proyects h3{
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
  }
}