body::-webkit-scrollbar{
  width: 10px;
  background-color: black;
  /* background-attachment: scroll; */
}
body::-webkit-scrollbar-thumb{
  background-color: #1f82ce49;
  box-shadow: 0 0 12px rgb(114, 164, 202), 0 0 50px rgb(31, 130, 206), 0 0 70px rgb(31, 130, 206);
  border-radius: 50px;
}
body::-webkit-scrollbar-thumb:hover{
  transition: background-color 1s ease;
  background-color: rgb(31, 130, 206) ;
}
body{
  background-image: url('../public/background.gif') !important;
}